body{
    background: linear-gradient(180deg, #0e0f15 0%, #000000 235%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.text_box{
    border-radius: 15px;
    background: linear-gradient(180deg, #1d1e29 5%, #000000 350%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    padding: 15px;
    box-shadow: #0000002c 0px 8px;
}

.quote{
    font-family: 'OPTIVagRound-Bold';
    font-size: 21px;
}

.button{
    border-radius: 15px;
    background-color: #1d1e29;
    font-family: 'OPTIVagRound-Bold';
    color: aliceblue;
    border: thick;
    border-color: #13131a;
    border-style:solid;
    border-width: 2px;
    box-shadow: #13131a 0px 6px, rgba(0, 0, 0, 0.1) 0px 15px 5px;
    padding: 15px;
    font-size: 19px;
    border-radius: 35px;
    width: fit-content;
} 

.button:hover{
    background-color: #303241;
    cursor: pointer;
    box-shadow: #13131a 0px 0px;
    transform: translateY(3px);
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "OPTIVagRound-Bold";
    src: url(OPTIVagRound-Bold.otf);
}