#jay_art{
    width: 520px;
}

#info{
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
}

.j{
    width: inherit;
    text-align: center;
}

.button_size{
    width: 375px;
    gap: 15px;
}

.distance{
    margin: 25px;
}