.showcase{
    width: fit-content;
    text-align: center;
    /*transform: translate(-125px, 80px);*/
    transform: translateY(15px);
}

#games{
    width: 400px;
    border-radius: 15px;
}

#art{
    width: 260px;
    border-radius: 15px;
}

#title{
    font-size: 25px;
    display:contents;
}

h1{
 color: white;
 font-family: 'Comic Sans MS';
 font-style: italic;   
}

.gap{
    gap:15px;
}

#art_section{
    padding-left: 60px;
    padding-right: 60px;
}